{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<h1>Meus passatempos</h1>

<div class="row d-flex justify-content-center">
  {% for serie in series %}
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <img src="{{ passatempos.imagem.url }}" class="card-img-top" alt="{{ passatempos.nome }}">
        <div class="card-body">
          <h5 class="card-title">{{ passatempos.nome }}</h5>
          <p class="card-text">{{ passatempos.descricao }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
