{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="row d-flex justify-content-center">
  <div class="col-4">
    <h1>Sobre</h1>

    <div class="card" style="width: 24rem;">
      <img src="{% static "img/eu.jpeg" %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hello!! Me chamo Maria Clara</h5>
        <p class="card-text">Sou maquiadora profissional desde 2019, as vezes modelo para lojas, e para contrastar sou estudante de informática. Caí de paraquedas no mundo da programação, e confesso que ainda to me recuperando da queda. Além disso, também toco violão e as vezes arrisco a cantar. Amo!! viajar com meus amigos e também com família, dou muito valor a momentos, afinal é tudo que aproveitamos da vida. Sou apaixonada pelo ramo da segurança e almejo iniciar o mais cedo possível a minha proxima personalidade 'Concurseira'. Sou muito determinada e o desejo de conquistar todos os meus sonhos e planos é o que me mantém viva, o desejo de vencer e imaginar a sensação do sucesso é o que me faz levantar da cama, me anima e traz impulso pra minha vida. Meus hobbies são os meus trabalhos e todas as coisas boas que eles me proporcionam, muitas comprinhas e viagens. </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}